* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: rgb(180, 165, 165);
}

.foto-inicio{
  width: 55vh;
  margin: 4% 8%;
}

#inicio{
 
  background-color: lawngreen;
  background-size: cover;
  height: 100vh;
}

.informacion{
  background-color: white;
  width: 80vh;
  float: right;
  padding: 2%;
  margin: 4%;
}
/* -----------Galeria--------- */

#menu2{
  padding: 2%;
  margin-top: 2%;
  text-align: center;
}
.img-galeria{
width: 100%;
}

.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column{
  flex: 25%;
  padding: 5px;
}

.column img{
  margin-top: 5px;
}

@media(max-width:360px){
  .column{
    flex: 100%;
  }
}
@media(max-width:760px){
  .column{
    flex: 50%;
  }
}

/* ----------Datos-------------- */

#menu1{
  padding-top: 3%;
  background-color: rgb(148, 104, 47);
  
}
#menu1 .fondo{
  background-color: rgb(211, 136, 79);
  padding: 2% 0% ;
}

#menu1 .fondo .info{
 
  background-color: white;
  width: 50%;
  padding: 2%;
  /* border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; */
  box-shadow: 10px 10px 20px black;
}
#menu1 .fondo2{
  background-color: rgb(255, 255, 255);
  padding: 2% 0% ;
}
#menu1 .fondo2 .lado-der{
  /* float: right; */
  text-align: right;
  margin: 0% 0% 0% 50%;
  /* border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; */
  background-color: rgb(211, 136, 79);
  color: white;
  width: 50%;
  padding: 2%;
  /* box-shadow:0px 0px 10px 10px black; */
}
 ul li{
  list-style: none;
}
strong{
  font-size: 20px;
  font-family: 'Montserrat' sans-serif;
}